@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fondamento:ital@0;1&display=swap");

* {
  font-family: "Lato";
  margin: 0px;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202125;
  margin: 0%;
  padding: 0px 10px;
}

.logo {
  font-family: "Fondamento", cursive;
  font-weight: bolder;
  color: azure;
  text-decoration: none;
  font-size: 48px;
  padding-left: 20px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 600px;
}
.nali {
  padding: 40px 0px;
  text-align: center;
  color: aliceblue;
  text-decoration: none;
}
.nali:hover {
  background-color: rgb(207, 31, 37);
}

/* Footer */
