@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 10px 120px;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
nav h1 {
  cursor: pointer;
  color: #fff;
  font-size: 56px;
  font-weight: 600;
}
nav img {
  width: 110px;
  cursor: pointer;
}
.nav-links {
  display: flex;
}
.nav-links ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 60px;
}

.nav-links ul li {
  display: inline-block;
  margin: 10px 20px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.nav-links ul li a:hover {
  color: #f02850;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(240, 40, 80);
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.btn span {
  padding-right: 10px;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
.content {
  margin-top: 10%;
  color: #fff;
  max-width: 620px;
}

.content h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  margin-bottom: 25px;
}
.content form {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

.content form input {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.content form .btn {
  font-size: 15px;
  padding: 10px 30px;
}

/* Contact Page */
#contact-body {
  /* background: rgb(255, 91, 124); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/3.jpg);
  color: #fff;
  font-size: 14px;
  background-size: Cover;
}
.contact-content {
  width: 80%;
  margin: 30px auto;
}
.contact-content a {
  color: #fff;
}
.contact-content .current {
  color: #8a8a8a;
}
h1 {
  margin-bottom: 10px;
}
.contact-content p {
  margin-bottom: 20px;
}
.contact-row {
  width: 100%;
  display: flex;
  background: #fff;
}
.contact-left {
  flex-basis: 60%;
  color: #f02850;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 40%;
  background: #f02850;
  padding: 40px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  border: 1px solid;
  box-sizing: border-box;
  margin-top: 10px;
  outline: none;
  padding: 10px;
}
.contact-left .btn {
  margin-top: 20px;
  margin-right: 10px;
}
.btn-row {
  display: flex;
}

h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
tr td {
  padding-bottom: 20px;
}
tr td:first-child {
  padding-right: 10px;
}
tr td a {
  text-decoration: none;
  color: #fff;
}
