<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <footer class="foot">
      <p>
        <a class="foot-link" href="#"
          >No.23, Dubai kuruku sandhu, Dubai main road, Dubai</a
        >
        <span class="b">- Booking:</span>
        <a class="foot-link b" href="#">+91 98765 43210</a>
      </p>
      <p>Website by <a class="foot-link b" href="#">Saam Sheron</a></p>
    </footer>
  </body>
</html>
